<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", id: "form2Example1", class: "form-control", placeholder: 'Email Address' %>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <%= f.password_field :password, autocomplete: "current-password", type: "password", id: "form2Example2", class: "form-control", placeholder: "password"%>
    </div>

    <!-- 2 column grid layout for inline styling -->

    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input", type: "checkbox", value: "", id: "form2Example31" %>
            <%= f.label :remember_me, class: "form-check-label", for: "form2Example31" %>
          </div>
        <% end %>
      </div>
      <div class="col">
          <!-- Simple link -->
        <%= render "devise/shared/links" %>
      </div>
    </div>

    <!-- Submit button -->
    <%= f.submit "Log in", class: "btn btn-primary btn-block mb-4" %>

  </form>
<% end %>
