<% @post.order(created_at: :desc).each do |p| %>
  <a href="<%= posts_url %>/<%= p.id %>" class="card mb-3 mx-5 text-decoration-none">
      <div class="card-body text-decoration-none">
        <p class="card-text"><small class="text-body-secundary text-decoration-none">Posted by <%= p.user.name %></small></p>
        <h5 class="card-title"><%= p.title %></h5>
        <p class="card-text"><%= p.body %></p>
        <p class="card-text"><small class="text-body-secondary"><%= local_time_ago(p.created_at, include_seconds: true) %></small></p>
      </div>
  </a>
<% end %>
